# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menuconfig QSPI_NOR_CUSTOM_DRIVER
	bool "custom sensor"
    default n
	select FLASH_HAS_DRIVER_ENABLED
	select NRFX_QSPI
	select FLASH_JESD21
	

menuconfig DISK_DRIVER_RAW_NAND
    bool
    prompt "NAND Disk for file storage with SENSE lab Simplified FTL. Allows buffered writing but does not support partial erases."
    default n


menuconfig RAW_NAND_BAD_SECTOR_SAVING
    bool
    prompt "Allows bad pages to be dynamically registered in a memory array stored on the nor flash."
    default n
    help
       Not currently enabled since our Custom Sense FTL does not support block reallocation.

config RAW_NAND_ALLOW_RUNTIME_READONLY_FS
	bool "allows the file system to be set as read only during runtime (via set_read_only)"
	default n
	help
	   Dynamically allows the file system when using the NAND driver not allow any writes by calling the function set_read_only.
	    Note that this is a system that will only work at the internal software level: the drive is not actually readonly
		on windows, to do this, the drive must instead be mounted as readonly vs fs_mount. 


menuconfig DISK_DRIVER_DHARA
    bool
    prompt "Disk Driver using dhara as the flash translation layer, instead of the SENSE lab custom nor solution."
    help
        Not Currently Implemented, but uses Dhara's virtual addressing to handle bad blocks, wear leveling, and sector erasing
        for the current nand driver.

menuconfig SPI_NOR_CUSTOM_DRIVER
    bool
    prompt "Custom spi NOR driver, modified from spi_nor.c to be more generic and customizable."
    default n