/*
 * Board-specific Devicetree overlay template for nrf5340dk/nrf5340/cpunet.
 *
 * The build system discovers this file automatically for that board target.
 * Add only project-specific node overrides; all other settings inherit from
 * the nRF5340 DK board Devicetree.
 */

&{/buttons} {
	status = "disabled";
};

&led0 {
	gpios = <&gpio0 30 0>;
	label = "Red LED";
};

&led1 {
	gpios = <&gpio0 31 0>;
	label = "Green LED";
};

&led2 {
	gpios = <&gpio1 11 0>;
	label = "Orange LED";
};

&led3 {
	gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
	label = "NC LED";
};

&uart0 {
	status = "disabled";
};

&rtc0 {
	status = "okay";
	/* Keep below ESB's priority-1 radio interrupt. */
	interrupts = <17 2>;
};

&gpio1 {
	five_v_en: five_v_en {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "5V_EN";
	};
};

&gpio0 {
	future_output: future_output {
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "FUTURE_OUTPUT";
	};

	packet_strobe: packet_strobe {
		gpio-hog;
		gpios = <22 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "ESB_RADIO_MARKER";
	};
};
