#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "Enhanced ShockBurst: Transmitter"

config ESB_PTX_RTC0_TICK_RATE_HZ
	int "RTC0 tick rate in hertz"
	range 8 32768
	default 8
	help
	  Sets RTC0's counter and TICK interrupt rate. The value must divide
	  the 32.768 kHz LFCLK exactly. The RTC0 prescaler limits this rate to
	  8 Hz or greater.

config ESB_PTX_APP_LOG_LEVEL
	int "Log level for the ESB PTX sample"
	default 4

endmenu
